<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginPage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E854C0A1D6E02EC0001F168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E854C1E1D6E02ED0001F168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E854C291D6E02ED0001F168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
